/.idea/
/vendor/

# Composer
composer.lock

# PHPUnit
/.phpunit.cache/
.phpunit.result.cache
phpunit.cobertura.xml

# Devenv
.devenv*
devenv.local.nix

# Direnv
/.direnv/

# PHP-CS-Fixer
.php-cs-fixer.cache

