parameters:
  level: 7
  ignoreErrors:
    - identifier: missingType.generics
  paths:
    - src
    - tests
    - examples

includes:
  - phpstan-baseline.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
