on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

name: PHP Integration (Keycloak compatibility)

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        keycloak: [13.0.0, 14.0.0, 15.0.0]

    env:
      KEYCLOAK_BASE_URL: 'http://localhost:8080'

    services:
      keycloak:
        image: jboss/keycloak:${{ matrix.keycloak }}
        env:
          KEYCLOAK_USER: admin
          KEYCLOAK_PASSWORD: admin
        ports:
          - '8080:8080'

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Wait for Keycloak
        uses: iFaxity/wait-on-action@v1
        with:
          resource: http://localhost:8080

      - name: Run integration tests
        run: vendor/bin/phpunit --testsuite integration
